.my-skills-main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    background-image: url(Images/Skills\ sections.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.my-skills-heading-wrapper {
    /* background-color: #ffffff33; */
    width: 940px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 115px;
}

.my-skills-heading-wrapper h1 {
    color: #fff;
    font-size: 15px;
}

.my-skills-heading-wrapper span {
    font-weight: 400;
}

.my-skills-sub-heading-wrapper {
    /* background-color: #ffffff17; */
    width: 940px;
    height: 40px;
    display: flex;
    align-items: center;
}

.my-skills-sub-heading-wrapper h2 {
    color: #fff;
    font-weight: 400;
    font-size: 35px;
}

.my-skills-sub-heading-wrapper span {
    font-weight: 700;
}




.inner-skills-wrapper {
      /* background-color: #ffffff30; */
       width: 1000px;
       height: auto;
       display: flex;
       align-items: center;
       flex-direction: column;
       margin-top: 50px;
   }
   
   
   .column {
      /* background-color: #c4ef1730; */
       width: auto;
       height: auto;
       padding: 10px 0px;
       display: flex;
       gap: 20px;
   }
   
   .holder-wrapper {
    background: linear-gradient(135deg, #663050, #3a267042);
       width: 450px;
       height: 90px;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 10px;
       border: 1px solid #fff;
       border-radius: 5px;
       transition: all 0.5s;
   }
   
   .holder-wrapper:hover {
       border: none;
       width: 400px;
   }
   
   
   .icon-skills-wrapper {
   /*    background-color: #ffffff67;*/
       width: auto;
       height: auto;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;
   }
   
   
   .icon-skills-wrapper i {
       font-size: 35px;
       color: #f2249f;
   }
   
   .content-skills-wrapper {
    /*   background-color: #ffffff67;*/
       width: 200px;
       height: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   
   .content-skill-h1 {
   /*    background-color: #00000091;*/
       width: 100%;
       height: 25px;
       display: flex;
       align-items: center;
   }
   
   .content-skill-h1 h1 {
       font-size: 20px;
       color: #fff;
   }
   
   .content-skill-p {
   /*   background-color: #00000069;*/
       width: 100%;
       height: 18px;
       display: flex;
       align-items: center;
   }
   
   .content-skill-p p {
       color: #fff;
   }
   
   .percentage-skills-wrapper {
   /*    background-color: #ffffff67;*/
       width: 100px;
       height: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .percentage-skills-wrapper p {
       color: #fff;
       font-size: 35px;
       font-weight: 700;
   }





   

@media screen and (max-width: 1013px) {

    .my-skills-heading-wrapper {
        width: 790px;
    }

    .my-skills-sub-heading-wrapper {
        width: 790px;
    }

    .inner-skills-wrapper {
        width: 790px;
    }

    .holder-wrapper {
        width: 380px;
    }

}

@media screen and (max-width: 805px) {

    .my-skills-heading-wrapper {
        width: 700px;
    }

    .my-skills-sub-heading-wrapper {
        width: 700px;
    }

    .inner-skills-wrapper {
        width: 700px;
    }

    .holder-wrapper {
        width: 335px;
        gap: 5px;
    }

 

    .percentage-skills-wrapper {
        width: 74px;
    }



}

@media screen and (max-width: 713px) {

    .my-skills-heading-wrapper {
        width: auto;
    }

    .my-skills-sub-heading-wrapper {
        width: auto;
    }

    .inner-skills-wrapper {
        width: 551px;
    }

    .column {
        flex-direction: column;
    }

    .holder-wrapper {
        width: 525px;
        justify-content: space-around;
        gap: 0px;
        transition: all 0.5s;
    }

    .holder-wrapper:hover {
        width: 525px;
        transform: scale(0.9);
    }
   
}




@media screen and (max-width: 570px) {

    .inner-skills-wrapper {
        width: 450px;
    }

    .holder-wrapper {
        width: 447px;

    }

    .holder-wrapper:hover {
        width: 447px;
     
    }

}


@media screen and (max-width: 475px) {
    .inner-skills-wrapper {
        width: 375px;
    }

    .holder-wrapper {
        width: 372px;

    }

    .holder-wrapper:hover {
        width: 372px;
     
    }
}


@media screen and (max-width: 390px) {

    .inner-skills-wrapper {
        width: 315px;
    }

    .holder-wrapper {
        width: 311px;

    }

    .holder-wrapper:hover {
        width: 311px;
     
    }

    .content-skills-wrapper {
        width: 170px;
    }

    .content-skills-wrapper h1 {
        font-size: 17px;
    } 

    .content-skill-p p {
        font-size: 10px;
    }

}

